.tarjetas {
  width: 95px;
  height: 90px;
  border-style: solid;
  padding: 9rem;
  margin: 0.1rem;
}
.tarjetas__tienda {
  margin: 0.8rem;
}
.comprar {
  color: red;
}
.boton__rojo {
  background-color: red;
}
.fondo__tarjeta {
  background-color: black;
}
